<!DOCTYPE html>

<head>
    <!--LICENCIADO, Arquivo de licença LICENSE startbootstrap-scrolling-nav-gh-pages-->
    <link rel="icon" type="imagem/png" href="../images/Logo.png" />  
    <meta charset="utf-8">
    <title>Real Consumo - Ajuda?</title>
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/scrolling-nav.css" rel="stylesheet">
    <style>
        h1{
            color: white;  
        }
        h2{
            color: white;  
        }
        body {
            background-color: black;
            align-items: center;
            text-align: center;
        }
        figure {
        }
    </style>
</head>

<body id="page-top">
    <h1>Precisando de Ajuda?</h1>
    <h2>Assista o video abaixo</h2>
    <video width="320" height="240" controls>
        <source src="../Videos/Help.mp4" type="video/mp4">
    </video>
    <br>
    <a href="../Videos/Help.mp4" download>Download do Video</a>
</body>

</html>
