<!DOCTYPE html>
<html>
    <head>
        <!--LICENCIADO, Arquivo de licença LICENSE startbootstrap-scrolling-nav-gh-pages-->
        <link rel="icon" type="imagem/png" href="../images/Logo.png" />  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta charset = "utf-8">
        <title>Real Consumo</title>

        <!-- Bootstrap core CSS -->
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/scrolling-nav.css" rel="stylesheet">
        <style>
            h2{
                text-align: center;
            }
            .Negrito{
                font-weight: bold;
            }
            p{
                text-align: justify;
            }


        </style>
    </head>

    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="../index.php">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">Nossas Intenções</a></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Nossas Intenções</h2>
                        <figure>
                            <!--img src="../images/Logotipo.jpg" width="400" height="200"-->
                        </figure>
                        <center>
                            <iframe width="320" height="180" src="https://www.youtube.com/embed/gqzybOCQQfQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </center>
                        <br/>
                        <p>De acordo com a cartilha da CEDAE disponível no site há dois
                            tipos distintos de cobrança: por consumo medido e por
                            consumo estimado.</p>
                        <p>Os clientes são divididos em categorias de acordo com a
                            utilização do imóvel: residencial, comercial, industrial e públicos
                            (governos federal, estadual e municipal). </p>
                        <p>O <span class="Negrito">consumo estimado é a cobrança feita quando a ligação
                                não dispõe de hidrômetro para medir o volume de água
                                fornecido</span>, e sim limitador de consumo.</p>
                        <p>O consumo estimado residencial é de acordo com o número de
                            quartos do imóvel (incluindo o quarto de empregados),
                            atribuindo-se a cada um o valor correspondente a 500 litros por
                            dia, ou 15 mil litros por mês de 30 dias. São consideradas as
                            faixas de consumo e o cálculo do valor de água faturado
                            obedece a faixas de consumo. </p>
                        <p>A faixa de consumo residencial se divide em: 0 a 15 metros
                            cúbicos; 16 a 30; 31 a 45; 46 a 60 e maior do que 60 metros
                            cúbicos.</p>
                        <p>A <span class="Negrito">cobrança pela média</span>, de acordo com a cartilha,<span class="Negrito"> ocorre
                                por motivo de algum tipo de impedimento de leitura que a
                                CEDAE não possa apurar o consumo efetivo registrado
                                pelo hidrômetro</span>, a cobrança é feita de acordo com um
                            consumo-bas</p>
                        <hr/>
                        <p>Ocorre que a Cedae vem cobrando pelo valor mínimo
                            considerando a quantidade de economias (apartamentos ou
                            salas) sem levar em consideração o que foi aferido na medição
                            do hidrômetro e consequentemente a conta de abastecimento
                            de água e esgoto fica num valor acima do que seria devido.</p>
                        <hr/>
                        <p>ESCLARECIMENTO: o valor encontrado para cálculo do
                            serviço de água é idêntico ao valor cobrado para o serviço de
                            esgoto e demais incidências, tais como Recursos hídricos e
                            taxa de regulação, mais um motivo que o valor fica incorreto. 
                        </p>
                        <p><span class="Negrito">É de suma importância esclarecer que o prazo
                                prescricional para ressarcimento da cobrança
                                indevida é de 10 anos, ISSO QUER DIZER QUE
                                A CADA MÊS VOCÊ NÃO TOMA UMA ATITUDE
                                IMEDIATA DIMINUI A SUA POSSIBILIDADE DE
                                SER RESSARCIDO!</span></p>
                        <p>Outra questão importantíssima, o Tribunal de Justiça do Estado do
                            Rio de Janeiro tem o Enunciado 191 da Súmula da jurisprudência
                            do TJRJ que diz:</p>
                        <p><span class="Negrito">“Na prestação do serviço de água e esgoto é incabível a
                                aplicação da tarifa mínima multiplicada pelo número de unidades
                                autônomas do condomínio.” </span></p>
                        <p>Assim, fica a DICA VEJA URGENTE A SUA CONTA NO ITEM “TIPO
                            DE FATURAMENTO” se for mencionado como “MÍNIMO” deverá
                            recorrer imediatamente uma solução</p>
                        <p>PAGUE SOMENTE PELO TIPO DE FATURAMENTO MEDIDO PELO
                            HIDRÔMETRO. NÃO JOGUE O SEU DINHEIRO NO RALO</p>

                        <p>Para Mais Informações Acesse meu Canal no Youtube: <a href="https://www.youtube.com/playlist?list=PLnnobB6ZXmrhnAdqh9o-YJ4uitsUYw7vO" target="_blank">Katia Cavalcante - Advogada e Administradora</a></p>

                        <p>Quer saber mais um pouco sobre nossa politica de privacidade dados? <a target="_blank" href="../Politica_de_Privacidade/politica_de_privacidade.pdf">Clique Aqui</a></p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white"> Para Mais Infomações Acesse: <br>
                    <a href="https://www.youtube.com/playlist?list=PLnnobB6ZXmrhnAdqh9o-YJ4uitsUYw7vO" target="_blank">
                        <img src="../images/Youtube.png" width="40"> Katia Cavalcante - Advogada e Administradora
                    </a>
                </p>
            </div>
            <span style="color: white; font-size: 10px;">Fonte: <a href="https://www.cedae.com.br/" target="_blank">https://www.cedae.com.br/</a></span>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom JavaScript for this theme -->
        <script src="../js/scrolling-nav.js"></script>

    </body>

</html>
